#!/bin/bash
#date:2019-10-23_10:39
#dsc:设置scada配置文件中的ip，端口，设备id

#香山4 现场scada配置文件的的配置


#lclEquipID[0]=18
#lclEquipID[1]=20
#lclEquipID[2]=22
#lclEquipID[3]=19
#lclEquipID[4]=21
#lclEquipID[5]=23
#lclEquipID[6]=24
#lclEquipID[7]=27
#lclEquipID[8]=4
#lclEquipID[9]=2


# lclEquipID 设备id
# lclStnPort 本地站端口
# lclStnIP   本地站ip
# rmtStnPort 远程站端口
# rmtStnIP   远程站ip
#
#chnNo下标为 须从0开始 且 值不能跳跃 值存储的是通道编号


##数据中心配置            
##入库                    
#InlcalPort=5406          
#InlcalIp="192.168.0.14" 
#InrmtPort=9009           
#InrmtIp="192.168.0.51"   
##出库                    
#OutlcalPort=6407         
#OutlcalIp="192.168.0.14"
#OutrmtPort=9009          
#OutrmtIp="192.168.0.51"  
#
#
#doChnNo[0]=0                      
#index=${doChnNo[0]}               
#lclStnIP[${index}]="192.168.0.14"
#lclStnPort[${index}]=0            
#lclEquipID[${index}]=18           
#rmtStnIP[${index}]="192.168.0.154"
#rmtStnPort[${index}]=502          


#数据中心配置            
#入库                    
InlcalPort=5406          
InlcalIp="100.110.120.10" 
InrmtPort=9009           
InrmtIp="100.110.120.20"   
#出库                    
OutlcalPort=6407         
OutlcalIp="100.110.120.10"
OutrmtPort=9009          
OutrmtIp="100.110.120.20"  


#modbus-tcp采集测风塔数据
doChnNo[0]=0                      
index=${doChnNo[0]}               
lclStnIP[${index}]="192.168.1.20"
lclStnPort[${index}]=0            
lclEquipID[${index}]=18           
rmtStnIP[${index}]="192.168.1.200"
rmtStnPort[${index}]=502          


#modbus-tcp转发测风塔数据及tps理论功率和可用功率
doChnNo[1]=1                      
index=${doChnNo[1]}               
lclStnIP[${index}]="100.100.100.141"
lclStnPort[${index}]=2404            
lclEquipID[${index}]=20           
rmtStnIP[${index}]="100.100.100.99"
rmtStnPort[${index}]=502          


#modbus-tcp转发测风塔数据及tps理论功率和可用功率
doChnNo[2]=2                      
index=${doChnNo[2]}               
lclStnIP[${index}]="100.100.100.141"
lclStnPort[${index}]=2404            
lclEquipID[${index}]=22           
rmtStnIP[${index}]="100.100.100.235"
rmtStnPort[${index}]=502          


#modbus-tcp转发测风塔数据及tps理论功率和可用功率
doChnNo[3]=3                      
index=${doChnNo[3]}               
lclStnIP[${index}]="100.100.100.141"
lclStnPort[${index}]=2404            
lclEquipID[${index}]=19           
rmtStnIP[${index}]="100.100.100.236"
rmtStnPort[${index}]=502          


#modbus-tcp 采集风机数据（1-75台风机)
doChnNo[4]=4                      
index=${doChnNo[4]}               
lclStnIP[${index}]="172.160.0.199"  #scada端的ip地址需要最后的确认
lclStnPort[${index}]=0            
lclEquipID[${index}]=21           
rmtStnIP[${index}]="172.160.0.10"
rmtStnPort[${index}]=502          


